# Environment variables (API keys, etc.)
.env

# Data
data/
*.zip
*.kaggle-partial

# Saved Models
saved_models/
tfjs_model/
tflite_model/

# Python cache
__pycache__/
*.py[cod]
*$py.class

.vscode/
.venv/

test_models
final_models*/
saved_models*/
tests/
sequence_*/
video_*/